RasPi/NodeRedFlow CMI Abfrage
[
    {
        "id": "1cbe49a43222c844",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c16c59919477972",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf857280c50b1002",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "DB auf  RasPi3",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "152c1be448f8098f",
        "type": "ui_group",
        "name": "CMI",
        "tab": "2badcf663eb3b467",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2badcf663eb3b467",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "60e68d9e8a9709e4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "41b4c1a068f36d62",
        "type": "mqtt-broker",
        "name": "MQTT auf RasPi3",
        "broker": "192.168.178.37",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6e117ba5.8026e4",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "home.lan",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "afbc3cd5.d1188",
        "type": "ui_group",
        "name": "Sonoff L1 Strip",
        "tab": "60d9b14b.1b2a6",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "60d9b14b.1b2a6",
        "type": "ui_tab",
        "name": "Sonoff L1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "beababcc.56e388",
        "type": "nora-config",
        "name": "Nora",
        "group": "",
        "notify": false
    },
    {
        "id": "241b578d.91d228",
        "type": "alexa-home-conf",
        "username": "quintaar"
    },
    {
        "id": "d0b77f78261219bb",
        "type": "mqtt in",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "stat/Steckdose/RESULT",
        "qos": "2",
        "datatype": "auto",
        "broker": "41b4c1a068f36d62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "7ba5e2d84a8720f6"
            ]
        ]
    },
    {
        "id": "134eb733ddbaa8e5",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "cmnd/Steckdose/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "7ba5e2d84a8720f6",
        "type": "debug",
        "z": "1cbe49a43222c844",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "61b5bcd781613c55",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "134eb733ddbaa8e5"
            ]
        ]
    },
    {
        "id": "636155ecdc747d48",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "134eb733ddbaa8e5"
            ]
        ]
    },
    {
        "id": "eda838617ba4aefe",
        "type": "debug",
        "z": "1cbe49a43222c844",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "2c25887ba80bdc06",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "/test/topic ",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "c196da3ca223e9cc",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "2c25887ba80bdc06"
            ]
        ]
    },
    {
        "id": "d83d9d83f89d6feb",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "2c25887ba80bdc06"
            ]
        ]
    },
    {
        "id": "c7824c5b859c3446",
        "type": "mqtt in",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "stat/Morgenrot/RESULT",
        "qos": "2",
        "datatype": "auto",
        "broker": "41b4c1a068f36d62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 780,
        "wires": [
            [
                "76c4037aa9c63b78"
            ]
        ]
    },
    {
        "id": "98508da3596e22dc",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "cmnd/Morgenrot/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 510,
        "y": 780,
        "wires": []
    },
    {
        "id": "f249d2112e254625",
        "type": "debug",
        "z": "1cbe49a43222c844",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 780,
        "wires": []
    },
    {
        "id": "9d9825b5a8003db0",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 270,
        "y": 780,
        "wires": [
            [
                "98508da3596e22dc"
            ]
        ]
    },
    {
        "id": "41fa119dddda413d",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "98508da3596e22dc"
            ]
        ]
    },
    {
        "id": "37c91686753d15fa",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "str",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "b217f0be5a0f6eb9"
            ]
        ]
    },
    {
        "id": "b217f0be5a0f6eb9",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "cmnd/Morgenrot/Dimmer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 550,
        "y": 900,
        "wires": []
    },
    {
        "id": "b316fefd789af783",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "Blau",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "F0F8FF",
        "payloadType": "str",
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "067e59c2192723d7"
            ]
        ]
    },
    {
        "id": "067e59c2192723d7",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "cmnd/Morgenrot/Color",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 540,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f20ffab4f5f4129c",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "787878",
        "payloadType": "str",
        "x": 230,
        "y": 1060,
        "wires": [
            [
                "067e59c2192723d7"
            ]
        ]
    },
    {
        "id": "ab93c9dda54ff988",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3cb371",
        "payloadType": "str",
        "x": 230,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "0f41a9305bef708b",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "str",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "b217f0be5a0f6eb9"
            ]
        ]
    },
    {
        "id": "8b49f19fcade1a54",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 250,
        "y": 940,
        "wires": [
            [
                "b217f0be5a0f6eb9"
            ]
        ]
    },
    {
        "id": "76c4037aa9c63b78",
        "type": "json",
        "z": "1cbe49a43222c844",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 780,
        "wires": [
            [
                "f249d2112e254625"
            ]
        ]
    },
    {
        "id": "81b4279296e9c492",
        "type": "inject",
        "z": "1c16c59919477972",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 600,
        "wires": [
            [
                "be6961653331133c",
                "21ad7ed3544a169f"
            ]
        ]
    },
    {
        "id": "be6961653331133c",
        "type": "http request",
        "z": "1c16c59919477972",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.178.41/include/api.cgi?jsonnode=1&jsonparam=I",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "a61fd4e441b5238c"
            ]
        ]
    },
    {
        "id": "de181b87a22eaffe",
        "type": "debug",
        "z": "1c16c59919477972",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "a3dabd26e36be8bc",
        "type": "debug",
        "z": "1c16c59919477972",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a61fd4e441b5238c",
        "type": "json",
        "z": "1c16c59919477972",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "de181b87a22eaffe",
                "462bd31c8edb3001",
                "54c18b633576e450",
                "328bc65ce86a0241",
                "ec7005198ea180e4",
                "0b38e0d3e3f256ac",
                "7cb18fcdd27be61d",
                "3fb28f965beb552e",
                "d17ebec0402a3d76",
                "70dfb88670a61780",
                "b2027b706b414aae",
                "4632dc6b34b85dce",
                "0a6cf14aa882b743",
                "8dcbb532fe08995e",
                "d86a5161408028d7"
            ]
        ]
    },
    {
        "id": "b7639c39b72982f8",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.SPoben",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "641ff5c147ebc294",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.tempc};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1200,
        "wires": [
            [
                "a3dabd26e36be8bc",
                "c244a44bdd61b735"
            ]
        ]
    },
    {
        "id": "462bd31c8edb3001",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[1].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 260,
        "wires": [
            [
                "b7639c39b72982f8"
            ]
        ]
    },
    {
        "id": "54c18b633576e450",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[0].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 200,
        "wires": [
            [
                "ec32d690acf4d991"
            ]
        ]
    },
    {
        "id": "ec32d690acf4d991",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.Kollektor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "328bc65ce86a0241",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[2].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 340,
        "wires": [
            [
                "e17188c592dd6bb7"
            ]
        ]
    },
    {
        "id": "e17188c592dd6bb7",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.SPunten",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1270,
        "y": 340,
        "wires": []
    },
    {
        "id": "ec7005198ea180e4",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[3].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 400,
        "wires": [
            [
                "0d06ddab7441f856"
            ]
        ]
    },
    {
        "id": "0d06ddab7441f856",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.KollektorRL",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1280,
        "y": 400,
        "wires": []
    },
    {
        "id": "0b38e0d3e3f256ac",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[4].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 460,
        "wires": [
            [
                "d56d9d8438b12398"
            ]
        ]
    },
    {
        "id": "d56d9d8438b12398",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.Puffer.u",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1260,
        "y": 460,
        "wires": []
    },
    {
        "id": "7cb18fcdd27be61d",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[5].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 520,
        "wires": [
            [
                "dcbf84e5f8c0df7c"
            ]
        ]
    },
    {
        "id": "c244a44bdd61b735",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "AktTempTS",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1160,
        "y": 1240,
        "wires": []
    },
    {
        "id": "21ad7ed3544a169f",
        "type": "openweathermap",
        "z": "1c16c59919477972",
        "name": "OpenWeatherMap von TS",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Traunstein",
        "country": "Germany",
        "language": "de",
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "641ff5c147ebc294",
                "4c245f728f2ae3f8",
                "e88e649204f869b8",
                "db29b9c16e296f8c"
            ]
        ]
    },
    {
        "id": "dcbf84e5f8c0df7c",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.Puffer.m",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1270,
        "y": 520,
        "wires": []
    },
    {
        "id": "3fb28f965beb552e",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[6].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 580,
        "wires": [
            [
                "86bf0ecb62101764"
            ]
        ]
    },
    {
        "id": "86bf0ecb62101764",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.Puffer.o",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1260,
        "y": 580,
        "wires": []
    },
    {
        "id": "d17ebec0402a3d76",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[7].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 660,
        "wires": [
            [
                "8bb9dfedd1f8b491"
            ]
        ]
    },
    {
        "id": "8bb9dfedd1f8b491",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.LueftungRaumAB",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "cbfa3cb59406fd6f",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.LueftungZU",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1280,
        "y": 720,
        "wires": []
    },
    {
        "id": "70dfb88670a61780",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[8].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 720,
        "wires": [
            [
                "cbfa3cb59406fd6f"
            ]
        ]
    },
    {
        "id": "0ab0cab236c7330e",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.HeizkreisVL2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1280,
        "y": 780,
        "wires": []
    },
    {
        "id": "b2027b706b414aae",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[10].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 780,
        "wires": [
            [
                "0ab0cab236c7330e"
            ]
        ]
    },
    {
        "id": "15ca46dc8ffb2a8d",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.Aussen",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1260,
        "y": 840,
        "wires": []
    },
    {
        "id": "4632dc6b34b85dce",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[11].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 840,
        "wires": [
            [
                "15ca46dc8ffb2a8d"
            ]
        ]
    },
    {
        "id": "38055469b8a4bbf9",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.Lueftung.RaumZU",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1300,
        "y": 900,
        "wires": []
    },
    {
        "id": "0a6cf14aa882b743",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[14].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 900,
        "wires": [
            [
                "38055469b8a4bbf9"
            ]
        ]
    },
    {
        "id": "bc0c94027e391ce9",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.LueftungAB",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1280,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8dcbb532fe08995e",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[15].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1020,
        "wires": [
            [
                "bc0c94027e391ce9"
            ]
        ]
    },
    {
        "id": "a82f96bf3fd13e8f",
        "type": "debug",
        "z": "1c16c59919477972",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1900,
        "wires": []
    },
    {
        "id": "d8aabd861139b63e",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.tempc};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1960,
        "wires": [
            [
                "f74efa5c4e3d236d"
            ]
        ]
    },
    {
        "id": "f74efa5c4e3d236d",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "AktTempTS",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1080,
        "y": 1980,
        "wires": []
    },
    {
        "id": "a18dea2d608038ac",
        "type": "openweathermap",
        "z": "1c16c59919477972",
        "name": "OpenWeatherMap von TS 5Tag Voraus",
        "wtype": "forecast",
        "lon": "",
        "lat": "",
        "city": "Traunstein",
        "country": "Germany",
        "language": "de",
        "x": 640,
        "y": 1900,
        "wires": [
            [
                "a82f96bf3fd13e8f"
            ]
        ]
    },
    {
        "id": "ca71d76e505ba7ea",
        "type": "inject",
        "z": "1c16c59919477972",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 1880,
        "wires": [
            [
                "a18dea2d608038ac"
            ]
        ]
    },
    {
        "id": "4c245f728f2ae3f8",
        "type": "debug",
        "z": "1c16c59919477972",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a1a122f74e0de01e",
        "type": "openweathermap",
        "z": "1c16c59919477972",
        "name": "OpenWeatherMap von TS",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Traunstein",
        "country": "Germany",
        "language": "de",
        "x": 550,
        "y": 1600,
        "wires": [
            [
                "b02b6dd615d9666a"
            ]
        ]
    },
    {
        "id": "e88e649204f869b8",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.humidity};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1280,
        "wires": [
            [
                "4ba63fe84cd5f3e7",
                "971ac74d920b6052"
            ]
        ]
    },
    {
        "id": "b02b6dd615d9666a",
        "type": "debug",
        "z": "1c16c59919477972",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1620,
        "wires": []
    },
    {
        "id": "4ba63fe84cd5f3e7",
        "type": "debug",
        "z": "1c16c59919477972",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1280,
        "wires": []
    },
    {
        "id": "971ac74d920b6052",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "AktLuftfeuchteTS",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1170,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b00476caac0314ef",
        "type": "inject",
        "z": "1c16c59919477972",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 1480,
        "wires": [
            [
                "a1a122f74e0de01e"
            ]
        ]
    },
    {
        "id": "db29b9c16e296f8c",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.pressure};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1360,
        "wires": [
            [
                "cb618d83b2f20551",
                "e68a900a2fd9c736"
            ]
        ]
    },
    {
        "id": "cb618d83b2f20551",
        "type": "debug",
        "z": "1c16c59919477972",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e68a900a2fd9c736",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "AktLuftdruckTS",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1170,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d86a5161408028d7",
        "type": "function",
        "z": "1c16c59919477972",
        "name": "",
        "func": "\nreturn {payload: msg.payload.Data.Inputs[15].Value.Value};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 960,
        "wires": [
            [
                "516979dce930c79b"
            ]
        ]
    },
    {
        "id": "516979dce930c79b",
        "type": "influxdb out",
        "z": "1c16c59919477972",
        "influxdb": "cf857280c50b1002",
        "name": "",
        "measurement": "CMI.T.LueftungAB",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1280,
        "y": 960,
        "wires": []
    }
]
