RasPi/NodeRedFlow CMI Abfrage
[
    {
        "id": "1cbe49a43222c844",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0b77f78261219bb",
        "type": "mqtt in",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "stat/Steckdose/RESULT",
        "qos": "2",
        "datatype": "auto",
        "broker": "41b4c1a068f36d62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "7ba5e2d84a8720f6"
            ]
        ]
    },
    {
        "id": "134eb733ddbaa8e5",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "cmnd/Steckdose/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "7ba5e2d84a8720f6",
        "type": "debug",
        "z": "1cbe49a43222c844",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "61b5bcd781613c55",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "134eb733ddbaa8e5"
            ]
        ]
    },
    {
        "id": "636155ecdc747d48",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "134eb733ddbaa8e5"
            ]
        ]
    },
    {
        "id": "eda838617ba4aefe",
        "type": "debug",
        "z": "1cbe49a43222c844",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "2c25887ba80bdc06",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "/test/topic ",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "c196da3ca223e9cc",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "2c25887ba80bdc06"
            ]
        ]
    },
    {
        "id": "d83d9d83f89d6feb",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "2c25887ba80bdc06"
            ]
        ]
    },
    {
        "id": "c7824c5b859c3446",
        "type": "mqtt in",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "stat/Morgenrot/RESULT",
        "qos": "2",
        "datatype": "auto",
        "broker": "41b4c1a068f36d62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 780,
        "wires": [
            [
                "76c4037aa9c63b78"
            ]
        ]
    },
    {
        "id": "98508da3596e22dc",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "cmnd/Morgenrot/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 510,
        "y": 780,
        "wires": []
    },
    {
        "id": "f249d2112e254625",
        "type": "debug",
        "z": "1cbe49a43222c844",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 780,
        "wires": []
    },
    {
        "id": "9d9825b5a8003db0",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 270,
        "y": 780,
        "wires": [
            [
                "98508da3596e22dc"
            ]
        ]
    },
    {
        "id": "41fa119dddda413d",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "98508da3596e22dc"
            ]
        ]
    },
    {
        "id": "37c91686753d15fa",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "str",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "b217f0be5a0f6eb9"
            ]
        ]
    },
    {
        "id": "b217f0be5a0f6eb9",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "cmnd/Morgenrot/Dimmer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 550,
        "y": 900,
        "wires": []
    },
    {
        "id": "b316fefd789af783",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "Blau",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "F0F8FF",
        "payloadType": "str",
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "067e59c2192723d7"
            ]
        ]
    },
    {
        "id": "067e59c2192723d7",
        "type": "mqtt out",
        "z": "1cbe49a43222c844",
        "name": "",
        "topic": "cmnd/Morgenrot/Color",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b4c1a068f36d62",
        "x": 540,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f20ffab4f5f4129c",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "787878",
        "payloadType": "str",
        "x": 230,
        "y": 1060,
        "wires": [
            [
                "067e59c2192723d7"
            ]
        ]
    },
    {
        "id": "ab93c9dda54ff988",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3cb371",
        "payloadType": "str",
        "x": 230,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "0f41a9305bef708b",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "str",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "b217f0be5a0f6eb9"
            ]
        ]
    },
    {
        "id": "8b49f19fcade1a54",
        "type": "inject",
        "z": "1cbe49a43222c844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 250,
        "y": 940,
        "wires": [
            [
                "b217f0be5a0f6eb9"
            ]
        ]
    },
    {
        "id": "76c4037aa9c63b78",
        "type": "json",
        "z": "1cbe49a43222c844",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 780,
        "wires": [
            [
                "f249d2112e254625"
            ]
        ]
    },
    {
        "id": "41b4c1a068f36d62",
        "type": "mqtt-broker",
        "name": "MQTT auf RasPi3",
        "broker": "192.168.178.37",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
